#include "../resource.h"

STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
    IDS_DEFNAME, "Lavender"
    IDS_DEFRUN, "ia32\\sshow.exe"
    IDS_DEFRUNDOS, ""
    IDS_DEFCPU, "i486"
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDB_BG          BITMAP  "bg.bmp"
IDB_BG16        BITMAP  "bg16.bmp"

IDI_APPICON     ICON    "../../secondary.ico"
IDI_INSTREDIST  ICON    "instredist.ico"
IDI_RUNDOS      ICON    "rundos.ico"
