#include "../resource.h"

#define VER_FILEDESCRIPTION_STR     "Kontrola závislostí automatického spuštění programu Lavender"
#define VER_LEGALCOPYRIGHT_STR      "(C) 2025 Mateusz Karcz. Zpřístupněno pod Licencí MIT."
#define VER_VERSION_UNICODE_LANG    "040504B0"
#define VER_VERSION_TRANSLATION     0x0405, 0x04B0

STRINGTABLE
LANGUAGE LANG_CZECH, SUBLANG_DEFAULT
{
    IDS_OLDCPU, "%s vyžaduje procesor %s."
    IDS_OLDWIN, "%s vyžaduje Windows %s, Windows %s nebo novější operační systém."
    IDS_OLDWINNT, "%s vyžaduje operační systém Windows %s nebo novější."
    IDS_OLDSP, "%s vyžaduje aktualizaci %s pro systém Windows %s."
    IDS_OLDOSR, "%s vyžaduje vydání %s systému Windows %s."
    IDS_NODLL, "%s vyžaduje knihovnu %s ve verzi %u.%u."
    IDS_DIERUNDOS, "Chcete místo toho spustit verzi s omezenou funkčností pro systém MS-DOS?"

    IDS_CPUI486, "i486 nebo novější"
    IDS_CPUP5, "Pentium nebo novější"
    IDS_CPUP6, "Pentium Pro nebo novější"
    IDS_CPUSSE, "s podporou SSE"
    IDS_CPUSSE2, "s podporou SSE2"
    IDS_CPUX64, "s 64bitovou architekturou"

    IDS_ECONFIG, "Nelze načíst konfiguraci."
    IDS_EEXECNORES, "%s nelze spustit, protože systému došly prostředky."
    IDS_EEXECBADF, "%s nelze spustit, protože soubor '%s' je neplatný."
    IDS_EEXECNOF, "%s nelze spustit, protože soubor '%s' nebyl nalezen."
}

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

#define VER_INTERNALNAME_STR        "lard.exe"
#include <version.rh>
