#include "../resource.h"

#define VER_FILEDESCRIPTION_STR     "Narzędzie do sprawdzania zależności autoodtwarzania programu Lavender"
#define VER_LEGALCOPYRIGHT_STR      "(C) 2025-2026 Mateusz Karcz. Udostępniono na zasadach Licencji MIT."
#define VER_VERSION_UNICODE_LANG    "041504B0"
#define VER_VERSION_TRANSLATION     0x0415, 0x04B0

STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
{
    IDS_INFORMATION, "%s wymaga uaktualnienia niektórych komponentów systemu Windows przed uruchomieniem. Co chcesz zrobić?"
    IDS_INSTREDIST, "Zainstaluj wymagane uaktualnienia"
    IDS_INSTREDISTD, "Instaluje %s."
    IDS_INSTREDISTS, "Instaluje: "
    IDS_INSTREDISTO, "Zainstaluj wyłącznie wymagane uaktualnienia"
    IDS_RUNDOS, "Uruchom wersję dla systemu MS-DOS"
    IDS_RUNDOSD, "Uruchamia wersję o ograniczonej funkcjonalności dla systemu MS-DOS, korzystając z warstwy zgodności systemu Windows."
    IDS_INSTIE, "Zainstaluj Internet Explorer (zalecane)"
    IDS_INSTIED, "Instaluje przeglądarkę Internet Explorer w wersji %s."
    IDS_INSTIEUP, "Zaktualizuj Internet Explorer (zalecane)"
    IDS_INSTIEUPD, "Instaluje uaktualnienie przeglądarki Internet Explorer do wersji %s."

    IDS_DEFCOPYRIGHT, VER_LEGALCOPYRIGHT_STR

    IDS_OLDCPU, "%s wymaga procesora %s."
    IDS_OLDWIN, "%s wymaga systemu operacyjnego Windows %s, Windows %s lub nowszego."
    IDS_OLDWINNT, "%s wymaga systemu operacyjnego Windows %s lub nowszego."
    IDS_OLDSP, "%s wymaga aktualizacji %s dla systemu Windows %s."
    IDS_OLDOSR, "%s wymaga wydania %s systemu Windows %s."
    IDS_NODLL, "%s wymaga biblioteki %s w wersji %u.%u."
    IDS_REDIST, "%s wymaga zainstalowania dodatkowych komponentów"
    IDS_DIERUNDOS, "Czy chcesz zamiast tego uruchomić wersję o ograniczonej funkcjonalności dla systemu MS-DOS?"

    IDS_CPUI486, "i486 lub nowszego"
    IDS_CPUP5, "Pentium lub nowszego"
    IDS_CPUP6, "Pentium Pro lub nowszego"
    IDS_CPUSSE, "z obsługą SSE"
    IDS_CPUSSE2, "z obsługą SSE2"
    IDS_CPUX64, "o architekturze 64-bitowej"

    IDS_ECONFIG, "Nie udało się załadować konfiguracji."
    IDS_EEXECNORES, "Nie udało się uruchomić programu %s z powodu braku zasobów w systemie."
    IDS_EEXECBADF, "Nie udało się uruchomić programu %s, ponieważ plik '%s' jest niepoprawny."
    IDS_EEXECNOF, "Nie udało się uruchomić programu %s, ponieważ nie znaleziono pliku '%s'."
    IDS_EBADDEPS, "Nie udało się przetworzyć bazy danych o zależnościach."
    IDS_EBADHWND, "Nie udało się zainicjalizować okna."
    IDS_EINSTNOF, "Nie udało się uruchomić instalatora komponentu %s."
    IDS_EINSTBAD, "Instalator komponentu %s zgłosił błąd."
    IDS_EINSTAGAIN, "Instalacja komponentów została już rozpoczęta."
}

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

#define VER_INTERNALNAME_STR        "lard.exe"
#include <version.rh>
