#include <windows.h>

#include "resource.h"

IDD_PROMPT DIALOGEX 0, 0, 294, 154
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | DS_CONTROL
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS Shell Dlg 2"
{
   CONTROL "IDC_TEXT", IDC_TEXT, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, 0, 0, 252, 60 
   CONTROL "", IDC_EDITBOX, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_UPPERCASE, 0, 70, 200, 14 
   CONTROL "IDC_ALERT", IDC_ALERT, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, 12, 90, 240, 14
   CONTROL "IDC_BANG", IDC_BANG, "STATIC", WS_CHILD | WS_VISIBLE | SS_ICON, 0, 89, 12, 10 
   CONTROL "IDC_CHECK", IDC_CHECK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 0, 140, 252, 14
}

IDD_VACAT DIALOGEX 0, 0, 1, 1
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | DS_CONTROL
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS Shell Dlg 2"
{
}

IDB_HEADER BITMAP "header.bmp"
