config HAVE_BROWSER
    bool
    help
        Target platform features a browser capable of handling URLs.

config HAVE_ENV_LANG
    bool
    help
        Target platform supports runtime LANG environment variable setting.

config HAVE_ENV_TZ
    bool
    help
        Target platform supports runtime TZ environment variable setting.

config SDL2
    bool
    help
        Target platform uses Simple DirectMedia Layer for I/O handling.


config COMPACT
    bool "Use compact bundle strategy"
    default n
    depends on DOS
    help
        Only support asset bundle loaded to memory with the executable.


rsource "dos/Kconfig"
