#include <windows.h>

#include "resource.h"

IDD_PROMPT DIALOGEX 0, 0, 220, 90
STYLE WS_VISIBLE | WS_POPUP | WS_BORDER | WS_SYSMENU | DS_MODALFRAME | WS_CAPTION | DS_SETFONT
CAPTION "IDD_PROMPT"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "MS Shell Dlg 2"
{
   CONTROL "", IDC_DLGICON, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 10, 10, 24, 24 
   CONTROL "IDC_TEXT", IDC_TEXT, "STATIC", WS_CHILD | WS_VISIBLE | SS_LEFT, 40, 10, 175, 26 
   CONTROL "", IDC_EDITBOX, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL | ES_UPPERCASE, 40, 38, 175, 14 
   CONTROL "IDOK", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 114, 68, 48, 14 
   CONTROL "IDCANCEL", IDCANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 167, 68, 48, 14 
}
