config ARD
    bool "Build AutoRun Dependency checker"
    default n
    depends on WINDOWS
    help
        Build the AutoRun utility for verifying and installing runtime
        prerequisities under Windows.

config INTERNET
    bool "Internet features support"
    default y
    depends on HAVE_INTERNET
    help
        Support for online connectivity features.


rsource "pal/Kconfig"
rsource "enc/Kconfig"
rsource "gfx/Kconfig"
rsource "snd/Kconfig"
rsource "resource/Kconfig"
