#include "resource.h"

STRINGTABLE
LANGUAGE LCID_PLK, 0x1
{
    IDS_ERROR, "BLAD: "
    IDS_NOARCHIVE, "Nie znaleziono archiwum"

    IDS_ENTERDSN, "Wprowadź numer seryjny dysku"
    IDS_ENTERDSN_DESC, "Proszę podać numer seryjny dołączony\ndo dyskietki z programem."
    IDS_ENTERPASS, "Wprowadź hasło"
    IDS_ENTERPASS_DESC, "Ta zawartość jest zaszyfrowana.\n\nProszę podać klucz dostępu."
    IDS_INVALIDKEY, "Wprowadzony klucz jest niepoprawny!"

    IDS_LOADERROR, "Blad ladowania scenariusza!"
    IDS_EXECERROR, "Blad wykonania scenariusza!"
    IDS_NOEXECCTX, "Nie mozna utworzyc kontekstu wykonania"

    IDS_INVALIDDELAY, "Niepoprawne opoznienie"
    IDS_UNKNOWNTYPE, "Nieznany typ"
    IDS_INVALIDVPOS, "Niepoprawne polozenie pionowe"
    IDS_INVALIDHPOS, "Niepoprawne polozenie poziome"
    IDS_LONGNAME, "Nazwa pliku za dluga"
    IDS_LONGCONTENT, "Zawartosc za dluga"
    IDS_NOLABEL, "Nie znaleziono etykiety"
    IDS_INVALIDCMPVAL, "Niepoprawna wartosc w porownaniu"
    IDS_NOASSET, "Nie mozna zaladowac zasobu"
    IDS_BADENCODING, "Niepoprawne lub niewspierane kodowanie"
    IDS_UNSUPPORTED, "Zazadano niewspieranej funkcjonalnosci"
}
