#include "resource.h"

STRINGTABLE
LANGUAGE LANG_CZECH, SUBLANG_DEFAULT
{
    IDS_ERROR, "CHYBA: "
    IDS_NOARCHIVE, "Archiv nenalezen"
    IDS_UNSUPPENV, "Lavender nemůže běžet ve vašem prostředí."

#if defined(CONFIG_ENCRYPTED_CONTENT)
    IDS_ENTERDSN, "Zadej sériové číslo disku"
    IDS_ENTERDSN_DESC, "Aplikace nemohla získat přístup k informacím o disku. Zadej sériové číslo připojené k disketě s programem."
    IDS_ENTERPASS, "Zadej heslo"
    IDS_ENTERPASS_DESC, "Obsah, který se pokoušíš zobrazit, je chráněn. Pokračuj zadáním hesla, které ti poskytli autoři prezentace."
    IDS_ENTERPKEY, "Zadej přístupový klíč"
    IDS_ENTERPKEY_DESC, "Obsah, který se pokoušíš zobrazit, je chráněn. Pokračuj zadáním přístupového klíče, který ti poskytli autoři prezentace.\n\nPřístupový klíč se skládá z 25 znaků, seskupených do 5znakových bloků oddělených pomlčkami."
    IDS_INVALIDDSNPASS, "Nesprávné heslo pro vybranou disketu!"
    IDS_INVALIDPASS, "Nesprávné heslo!"
    IDS_INVALIDPKEY, "Nesprávný přístupový klíč!"
    IDS_BACK, "Zpět"
    IDS_NEXT, "Další"
    IDS_CANCEL, "Storno"
#endif

    IDS_LOADERROR, "Chyba načítání scénáře!"
    IDS_EXECERROR, "Chyba při provádění scénáře!"
    IDS_NOEXECCTX, "Nelze vytvořit kontext provádění"

    IDS_INVALIDDELAY, "Neplatné zpoždění"
    IDS_UNKNOWNTYPE, "Neznámý typ"
    IDS_INVALIDVPOS, "Neplatná vertikální poloha"
    IDS_INVALIDHPOS, "Neplatná horizontální poloha"
    IDS_LONGNAME, "Název souboru příliš dlouhý"
    IDS_LONGCONTENT, "Obsah příliš dlouhý"
    IDS_NOLABEL, "Štítek nenalezen"
    IDS_INVALIDCMPVAL, "Neplatná hodnota v porovnání"
    IDS_NOASSET, "Dílo nelze načíst"
    IDS_BADENCODING, "Neplatné nebo nepodporované kódování"
    IDS_UNSUPPORTED, "Byla požadována nepodporovaná funkce"
    IDS_TOOMANYAREAS, "Příliš mnoho definovaných aktivních oblastí"
#if defined(CONFIG_ENCRYPTED_CONTENT)
    IDS_UNKNOWNKEYSRC, "Neznámý zdroj klíče"
#endif
    IDS_BADSOUND, "Neplatný nebo nepodporovaný zvukový soubor"

    IDS_DESCRIPTION, "Přehrávač prezentací"
    IDS_COPYRIGHT, "(C) 2021-2024 Mateusz Karcz.\nZpřístupněno pod Licencí MIT."
    IDS_ABOUT, "O programu..."
    IDS_ABOUT_LONG, "O programu Lavender"

#ifdef _WIN32
    IDS_SIZE, "Rozměr"
    IDS_FULL, "&Celá obrazovka\tF11"
#endif

#if defined(CONFIG_ENCRYPTED_CONTENT)
    IDS_UNLOCK, "Ověř přístupová práva"  
    IDS_UNLOCK_DESC, "Aplikace musí před odemknutím obsahu kontaktovat autora prezentace, aby ověřil tvoje přístupová práva."  
    IDS_RCODE_DESC, "Sdílej následující kód s autorem prezentace. Platnost kódu vyprší po 15 minutách."  
    IDS_CCODE_DESC, "Zadej 42místný potvrzovací kód obdržený od autora prezentace:"  
    IDS_INVALIDCCODE, "Nesprávný potvrzovací kód!"  
    IDS_WRONGCID, "Nesprávný přístupový klíč pro vybraný obsah!"
#endif
}

#ifndef STRINGS_ONLY
LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

#define VER_FILEDESCRIPTION_STR     "Přehrávač prezentací Lavender"
#define VER_LEGALCOPYRIGHT_STR      "(C) 2021-2024 Mateusz Karcz. Zpřístupněno pod Licencí MIT."
#define VER_VERSION_UNICODE_LANG    "040504B0"
#define VER_VERSION_TRANSLATION     LCID_CSY,0x04B0

#include "version.rc"
#endif
