#include "resource.h"

STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
{
    IDS_ERROR, "BŁĄD: "
    IDS_NOARCHIVE, "Nie znaleziono archiwum"
    IDS_UNSUPPENV, "Lavender nie uruchomi się w Twoim środowisku."

#if defined(CONFIG_ENCRYPTED_CONTENT)
    IDS_ENTERDSN, "Wprowadź numer seryjny dysku"
    IDS_ENTERDSN_DESC, "Aplikacja nie była w stanie uzyskać dostępu do informacji o dysku. Wprowadź numer seryjny dołączony do dyskietki z programem."
    IDS_ENTERPASS, "Wprowadź hasło"
    IDS_ENTERPASS_DESC, "Przeglądana przez ciebie treść jest chroniona. Wprowadź hasło dostarczone przez autora pokazu slajdów, aby kontynuować."
    IDS_ENTERPKEY, "Wprowadź klucz dostępu"
    IDS_ENTERPKEY_DESC, "Treść, którą próbujesz wyświetlić, jest chroniona. Wprowadź klucz dostępu dostarczony przez autora pokazu slajdów, aby kontynuować.\n\nKlucz dostępu składa się 25 znaków ułożonych w pięcioznakowych grupach rozdzielonych myślnikami."
    IDS_INVALIDDSNPASS, "Hasło niewłaściwe dla wybranej dyskietki!"
    IDS_INVALIDPASS, "Niepoprawne hasło!"
    IDS_INVALIDPKEY, "Niepoprawny klucz dostępu!"
    IDS_BACK, "Wstecz"
    IDS_NEXT, "Dalej"
    IDS_CANCEL, "Anuluj"
#endif

    IDS_LOADERROR, "Błąd ładowania scenariusza!"
    IDS_EXECERROR, "Błąd wykonania scenariusza!"
    IDS_NOEXECCTX, "Nie można utworzyć kontekstu wykonania"

    IDS_INVALIDDELAY, "Niepoprawne opóźnienie"
    IDS_UNKNOWNTYPE, "Nieznany typ"
    IDS_INVALIDVPOS, "Niepoprawne położenie pionowe"
    IDS_INVALIDHPOS, "Niepoprawne położenie poziome"
    IDS_LONGNAME, "Nazwa pliku za długa"
    IDS_LONGCONTENT, "Zawartość za długa"
    IDS_NOLABEL, "Nie znaleziono etykiety"
    IDS_INVALIDCMPVAL, "Niepoprawna wartość w porównaniu"
    IDS_NOASSET, "Nie można załadować zasobu"
    IDS_BADENCODING, "Niepoprawne lub niewspierane kodowanie"
    IDS_UNSUPPORTED, "Zażądano niewspieranej funkcjonalności"
    IDS_TOOMANYAREAS, "Zdefiniowano za dużo obszarów aktywnych"
#if defined(CONFIG_ENCRYPTED_CONTENT)
    IDS_UNKNOWNKEYSRC, "Nieznane źródło klucza"
#endif
    IDS_BADSOUND, "Niepoprawny lub niewspierany plik dźwiękowy"

    IDS_DESCRIPTION, "Odtwarzacz pokazu slajdów"
    IDS_COPYRIGHT, "(C) 2021-2025 Mateusz Karcz.\nUdostępniono na zasadach Licencji MIT."
    IDS_ABOUT, "O programie..."
    IDS_ABOUT_LONG, "O programie Lavender"

#ifdef _WIN32
    IDS_SIZE, "Rozmiar"
    IDS_FULL, "&Pełny ekran\tF11"
#endif

#if defined(CONFIG_ENCRYPTED_CONTENT)
    IDS_UNLOCK, "Zweryfikuj uprawnienia dostępu"
    IDS_RCODE_DESC, "Przekaż poniższy kod autorowi pokazu slajdów. Kod wygaśnie po 15 minutach."
    IDS_CCODE_DESC, "Wpisz 42-cyfrowy kod potwierdzenia otrzymany od autora pokazu slajdów:"
    IDS_INVALIDCCODE, "Niepoprawny kod potwierdzenia!"
    IDS_WRONGCID, "Klucz dostępu niewłaściwy dla wybranej treści!"
    IDS_INVALIDGROUP, "Niepoprawnie wprowadzono grupę cyfr %d. Sprawdź i spróbuj ponownie."
    IDS_STOREKEY, "Zapamiętaj dane dostępowe na tym komputerze"
    IDS_METHOD, "Wybierz metodę weryfikacji"
    IDS_METHOD_DESC, "Aplikacja musi skontaktować się z autorem pokazu slajdów, aby zweryfikować twoje uprawnienia dostępu przed odblokowaniem treści."
    IDS_METHOD_RCODE, "Chcę ręcznie przepisać kod żądania"
    IDS_METHOD_QR, "Pokaż mi kod QR do użycia z urządzeniem przenośnym"
    IDS_QR_DESC, "Zeskanuj powyższy kod QR, aby kontynuować na urządzeniu przenośnym, a następnie wpisz poniżej otrzymany kod potwierdzenia. Kod QR wygaśnie po 15 minutach."
    IDS_PRIVACY, "Zapoznaj się z <a>Polityką prywatności</a> autora pokazu slajdów."

#if defined(_WIN32) || defined(__linux__)
    IDS_METHOD_INET, "Połącz z automatyczną usługą"
    IDS_INET_CONN, "Łączenie z usługą..."
    IDS_INET_SEND, "Wysyłanie żądania..."
    IDS_INET_RECV, "Wczytywanie odpowiedzi..."
    IDS_INET_SUCCESS, "Potwierdziliśmy twoje uprawnienia dostępu. Możesz teraz kontynuować przeglądanie treści."
    IDS_INET_INITERR, "Aplikacji nie udało się uzyskać dostępu do sieci."
    IDS_INET_CONNERR, "Aplikacji nie udało się połączyć z usługą automatyczną:"
    IDS_INET_RESPERR, "Aplikacji nie udało się przetworzyć otrzymanej odpowiedzi:"
    IDS_INET_SERVERR, "Usłudze nie udało się przetworzyć żądania:"
    IDS_INET_AUTHERR, "Obecnie nie masz uprawnień dostępu do tej zawartości. Zapoznaj się ze szczegółami poniżej i skontaktuj się z autorem pokazu slajdów, aby uzyskać dalszą pomoc."
    IDS_INET_CODEERR, "Dane dostępowe podane przez usługę są nieprawidłowe. Skontaktuj się z autorem pokazu slajdów, aby uzyskać pomoc."
    IDS_INVALIDRESP, "Otrzymana odpowiedź jest niepoprawna"
#endif

#ifdef _WIN32
    IDS_METHOD_RCODE_HEAD, "Przepisz kod żądania"
    IDS_METHOD_QR_HEAD, "Zeskanuj kod QR"

    IDS_METHOD_RCODE_NOTE, "Zweryfikuj za pomocą kodu żądania udostępnionego ręcznie autorowi."
    IDS_METHOD_QR_NOTE, "Zweryfikuj za pomocą urządzenia mobilnego z aparatem i dostępem do Internetu."

    IDS_METHOD_INET_HEAD, "Potwierdź online"
    IDS_METHOD_INET_NOTE, "Zweryfikuj za pomocą automatycznej usługi przez Internet."
#endif // _WIN32
#endif // CONFIG_ENCRYPTED_CONTENT
}

#ifndef STRINGS_ONLY
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

#define VER_FILEDESCRIPTION_STR     "Odtwarzacz pokazu slajdów Lavender"
#define VER_LEGALCOPYRIGHT_STR      "(C) 2021-2025 Mateusz Karcz. Udostępniono na zasadach Licencji MIT."
#define VER_VERSION_UNICODE_LANG    "041504B0"
#define VER_VERSION_TRANSLATION     LCID_PLK,0x04B0

#include "version.rc"
#endif
