#include "resource.h"

STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
{
    IDS_ERROR, "BŁĄD: "
    IDS_NOARCHIVE, "Nie znaleziono archiwum"
    IDS_UNSUPPENV, "Lavender nie uruchomi się w Twoim środowisku."

#if defined(CONFIG_ENCRYPTED_CONTENT)
    IDS_ENTERDSN, "Wprowadź numer seryjny dysku"
    IDS_ENTERDSN_DESC, "Proszę podać numer seryjny dołączony\ndo dyskietki z programem."
    IDS_ENTERPASS, "Wprowadź hasło"
    IDS_ENTERPASS_DESC, "Ta zawartość jest zaszyfrowana.\n\nProszę podać klucz dostępu."
    IDS_INVALIDKEY, "Wprowadzony klucz jest niepoprawny!"
#endif

    IDS_LOADERROR, "Błąd ładowania scenariusza!"
    IDS_EXECERROR, "Błąd wykonania scenariusza!"
    IDS_NOEXECCTX, "Nie można utworzyć kontekstu wykonania"

    IDS_INVALIDDELAY, "Niepoprawne opóźnienie"
    IDS_UNKNOWNTYPE, "Nieznany typ"
    IDS_INVALIDVPOS, "Niepoprawne położenie pionowe"
    IDS_INVALIDHPOS, "Niepoprawne położenie poziome"
    IDS_LONGNAME, "Nazwa pliku za długa"
    IDS_LONGCONTENT, "Zawartość za długa"
    IDS_NOLABEL, "Nie znaleziono etykiety"
    IDS_INVALIDCMPVAL, "Niepoprawna wartość w porównaniu"
    IDS_NOASSET, "Nie można załadować zasobu"
    IDS_BADENCODING, "Niepoprawne lub niewspierane kodowanie"
    IDS_UNSUPPORTED, "Zażądano niewspieranej funkcjonalności"
    IDS_TOOMANYAREAS, "Zdefiniowano za dużo obszarów aktywnych"
#if defined(CONFIG_ENCRYPTED_CONTENT)
    IDS_UNKNOWNKEYSRC, "Nieznane źródło klucza"
#endif
    IDS_BADSOUND, "Niepoprawny lub niewspierany plik dźwiękowy"
}

#ifndef STRINGS_ONLY
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

#define VER_FILEDESCRIPTION_STR     "Odtwarzacz pokazu slajdów Lavender"
#define VER_LEGALCOPYRIGHT_STR      "(C) 2021-2024 Mateusz Karcz. Udostępniono na zasadach Licencji MIT."
#define VER_VERSION_UNICODE_LANG    "041504B0"
#define VER_VERSION_TRANSLATION     LCID_PLK,0x04B0

#include "version.rc"
#endif
