#include "resource.h"

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
    IDS_ERROR, "ERROR: "
    IDS_NOARCHIVE, "Archive not found"
    IDS_UNSUPPENV, "Lavender cannot run in your environment."

#if defined(CONFIG_ENCRYPTED_CONTENT)
    IDS_ENTERDSN, "Enter Disk Serial Number"
    IDS_ENTERDSN_DESC, "Please type the serial number\nattached to Your program diskette."
    IDS_ENTERPASS, "Enter Password"
    IDS_ENTERPASS_DESC, "This content is encrypted.\n\nPlease enter the access key."
    IDS_INVALIDKEY, "Provided key is invalid!"
#endif

    IDS_LOADERROR, "Script loading error!"
    IDS_EXECERROR, "Script execution error!"
    IDS_NOEXECCTX, "Cannot create execution context"

    IDS_INVALIDDELAY, "Invalid delay"
    IDS_UNKNOWNTYPE, "Unknown type"
    IDS_INVALIDVPOS, "Invalid vertical position"
    IDS_INVALIDHPOS, "Invalid horizontal position"
    IDS_LONGNAME, "File name too long"
    IDS_LONGCONTENT, "Content too long"
    IDS_NOLABEL, "Label not found"
    IDS_INVALIDCMPVAL, "Invalid value in comparison"
    IDS_NOASSET, "Cannot load asset"
    IDS_BADENCODING, "Invalid or unsupported encoding"
    IDS_UNSUPPORTED, "Unsupported feature requested"
    IDS_TOOMANYAREAS, "Too many active areas defined"
#if defined(CONFIG_ENCRYPTED_CONTENT)
    IDS_UNKNOWNKEYSRC, "Unknown key source"
#endif
    IDS_BADSOUND, "Invalid or unsupported sound file" 

    IDS_DESCRIPTION, "A slideshow player"
    IDS_COPYRIGHT, "(C) 2021-2024 Mateusz Karcz.\nShared under the MIT License."
    IDS_ABOUT, "About..."
    IDS_ABOUT_LONG, "About Lavender"

#ifdef _WIN32
    IDS_SIZE, "Size"
    IDS_FULL, "&Fullscreen\tF11"
#endif
}

#ifndef STRINGS_ONLY
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#define VER_FILEDESCRIPTION_STR     "Lavender slideshow player"
#define VER_LEGALCOPYRIGHT_STR      "(C) 2021-2024 Mateusz Karcz. Shared under the MIT License."
#define VER_VERSION_UNICODE_LANG    "040904B0"
#define VER_VERSION_TRANSLATION     LCID_ENU,0x04B0

#include "version.rc"
#endif
