config HAVE_GFX_CHARSET
    bool
    help
        The target graphics backend requires custom text encoding.

config HAVE_GFX_DEVICES
    bool
    help
        The target platform supports graphics device registration.

config HAVE_GFX_SCALING
    bool
    help
        The target platform supports variable graphics scaling.
